# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# Secrets
.env
.env.*
!.env.example

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log
